* { 
    margin: 0;
    padding: 0; 

}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.6rem;
    line-height: 4rem;
    font-weight: 800;
}

.navbar {
    padding-top: 1.2rem;
    
}

#hero {
   
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 8rem;
    padding-bottom: 6rem;
    position: relative;
}


.main-hero-content h1 {
    color: #24384F;
    text-transform: uppercase;
    letter-spacing: .11rem;
}

.main-hero-content p {
    color: #24384F;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.7rem;
    font-size: 1.2 rem;
}

.image-box img{ 
    position: relative;
    top: 70%;
}

.cardContainer {
    margin-bottom: 15px;
  }

 .card {
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 50%;
  display: flex;
  flex-direction: column;
}

